apiVersion: v1
baseDomain: {{ openshift_base_domain }}
proxy:
  httpProxy: http://<username>:<pswd>@<ip>:<port>
  httpsProxy: http://<username>:<pswd>@<ip>:<port>
  noProxy: example.com
compute:
- name: worker
  replicas: {{ openshift_worker_replicas_number }}
controlPlane:
  name: master
  replicas: {{ openshift_master_replicas_number }}
metadata:
  ## The name for the cluster
  name: {{ openshift_cluster_name }}
platform:
  vsphere:
    vcenter: {{ vcenter_hostname }}
    username: {{ vcenter_username }}
    password: {{ vcenter_password }}
    datacenter: {{ vcenter_datacenter }}
    defaultDatastore: {{ vcenter_default_datastore }}
pullSecret: '{{ openshift_pull_secret | default('') }}'
## The default SSH key that will be programmed for `core` user.
sshKey: |
  {{ ssh_key }}
