apiVersion: v1
baseDomain: '{{ openshift_base_domain }}'
{% if openshift_proxy is defined %}
proxy:
  httpProxy: '{{ openshift_proxy.http }}'
  httpsProxy: '{{ openshift_proxy.https }}'
  noProxy: '.{{ openshift_base_domain }},{{ openshift_proxy.no_proxy }}'
{% endif %}
compute:
- name: worker
  replicas: {{ openshift_worker_replicas_number }}
  hyperthreading: Enabled
controlPlane:
  name: master
  replicas: {{ openshift_master_replicas_number }}
  hyperthreading: Enabled
metadata:
  name: '{{ openshift_cluster_name }}'
platform:
  vsphere:
    vcenter: '{{ openshift_vcenter.host }}'
    username: '{{ openshift_vcenter.username }}'
    password: '{{ openshift_vcenter.password }}'
    datacenter: '{{ openshift_vcenter.datacenter }}'
    defaultDatastore: '{{ openshift_vcenter.default_datastore }}'
pullSecret: '{{ openshift_pull_secret | default('') }}'
sshKey: '{{ ssh_key }}'
