{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "http://{{ ansible_default_ipv4.address }}/{{ http_server_ignition_files_dir_name }}/bootstrap.ign",
          "verification": {}
        }
      ]
    },
    "timeouts": {},
    "version": "3.2.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}
