---
# defaults file for provision_vmware_node

openshift_rhcos_template_name: "rhcos-4.2.0-x86_64-template"

openshift_working_directory_name: "{{ openshift_cluster_name }}"
ignition_files_path: "{{ ansible_env.HOME }}/{{ openshift_working_directory_name }}"

# OpenShift nodes lists

bootstrap_nodes_list:
  - "ocp-bootstrap"

master_nodes_list:
  - "ocp-master1"
  - "ocp-master2"
  - "ocp-master3"

worker_nodes_list:
  - "ocp-worker1"
  - "ocp-worker2"
  - "ocp-worker3"

# OpenShift node VM configurations

bootstrap_node:
  name: "ocp-bootstrap_node"
  ram: "16384"
  cpus: "4"
  disk:
    size: "120"
    type: "thin"
  ignition_file_path: "{{ ignition_files_path }}/append-bootstrap.64"

master_node:
  ram: "16384"
  cpus: "4"
  disk:
    size: "120"
    type: "thin"
  ignition_file_path: "{{ ignition_files_path }}/master.64"

worker_node:
  ram: "16384"
  cpus: "4"
  disk:
    size: "120"
    type: "thin"
  ignition_file_path: "{{ ignition_files_path }}/worker.64"
